body {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    display: block;
    background: transparent;
}
.header-nav a.active::after {
    content: '';
    background-color: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-item {
    position: relative;
}
.bg {
    text-align: center;
    color: white;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover::before {
    color:#DEDEDE;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.desription {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/banner.jpg);
    text-align: left;
    color: white;
    background-size: cover;
    background-position: center center;
    padding-top: 98px;
    padding-bottom: 116px;
    padding-left: 100px;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 80px;
    /** height: 294px; **/
}
.banner-title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 15px;
    display: block;
    margin-top: 0;
}
.banner-title span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #F37335;
    border-radius: 14px;
    max-width: 95px;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.banner-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 329px;
    line-height: 24px;
    color: #FAF9F9;
    /** display: block; **/
    margin-bottom: 39px;
}
.banner-link {
    text-decoration: none;
    color: #1E2F40;
    /** font-weight: 700; **/
    font-size: 14px;
    background-color: #FBB731;
    border-radius: 5px;
    /** width: 150px; **/
    /** padding: 21px 10px; **/
    /** text-align: center; **/
    /** margin-top: 14px; **/
    /** display: block; **/
    text-transform: uppercase;
    padding: 21px 27px;
    border: 1px solid #FBB731;
    transition: 0.3s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: #1B2A49;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/menu/arrow.svg);
    background-size: 12.77px 7.77px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 76px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
/** Название бургера **/
.menu-grid-title {
    font-size: 30px;
    font-weight: 600;
    color: #1B2A49;
    text-align: center;
    margin: 0;
    margin-top: 24px;
}
/** Цена бургера **/
.menu-grid-price {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    margin: 0;
    margin-top: 10px;
}
.menu-grid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBB731;
    border: none;
    border-radius: 5px;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    gap: 10px;
    transition: 0.3s;
}
.menu-grid-text {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E2F40;
    margin-right: 5px;
    margin-top: 1px;
}
.menu-grid-icon {
    display: block;
    background-image: url(../images/menu/cart-menu.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
}
.menu-grid-btn:hover {
    background-color: #F37335;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 112px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
    font-weight: 900;
}
.footer-list-tel a {
    font-size: 20px;
    color: #FBB731;
    margin-top: 0;
}
.footer-list-tel a:hover {
    color: #fff;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}

.button-up {
    background-color: #FBB731;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1E2F40;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up:hover {
    background-color: #F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}

/* Style index*/

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
    margin-top: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
}
.content-link:hover,
.promo a:hover {
background-color: #F37335;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right  {
    flex: 0 0 49%;
    color: #FAF9F9;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-size: 15px;
    color: #FAF9F9;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}